.info-window-card {
  max-width: 30vw;
  padding: 3rem;
  background-color: #001219;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1 {
  display: flex;
  align-items: center;
}

h2 {
  display: flex;
  /* align-items: center; */
}
