.Page {
  text-align: center;
  background-color: #f4a261;
  height: auto;
  width: 100vw;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  bottom: 10px;

  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.excuse-holder {
  /* color: #264653; */
  margin: 0;
  padding-top: 20vh;
  text-align: center;
  font-size: 4rem;
}
