.header {
  color: #D8DEE9;
  height: 5vh;
  font-weight: bold;
  font-size: 1.2rem;
  align-content: center;
  font-family: 'Merriweather', serif;
  margin: 5vw;

}


.sub {
  color: #D8DEE9;
  margin: 10vw;
}

.topHalf {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.media-container {
  /* width: 60vw; */
}

.photo {
  width: 40vw;
  min-width: 100px;
  padding: 4vw;
}
